/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {

    --background-color: #010028;
    --color: #F1B2CE;
    --accent-color: #FF0070;
    --accent-color-alpha: #ff006f66;
    --title-color: #db00ff;
    --image: url("../images/cover-image-dark.png");
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  /* background-image: url("../images/cover-image-light.png"); */
  .title-decor, h4 {
    color: var(--background-color);
  }
  h2 {
    color: var(--accent-color)
  }
  /* Вам также нужно будет написать ряд подобных селекторов */
  header button {
    color: var(--accent-color);
  }
  .header__theme-menu-button_active {
    border-color: var(--accent-color);
  }
  header span {
    display: block;
  }
  header:before, header:after, footer:before, footer:after {
    border-color: var(--accent-color);
  }
  header button:focus {
    border-bottom-color: var(--accent-color);
  }
}


